source https://www.nuget.org/api/v2
nuget canopy
nuget chessie
nuget FAKE
nuget fscheck
nuget FSharp.Core
nuget FsUnit
nuget fsunit.xunit
nuget nunit.console
nuget unquote
nuget xunit
nuget xunit.runner.console